<% extend("../master.ejs") %>

<div class="container-fluid">
    <div class="row content">
        <!-- include('sections/leftSidenav'); -->
        <%- include("./sections/leftside.ejs") %>

        <!-- include('sections/rightSidenav'); -->
        <%- include("./sections/rightside.ejs") %>
    </div>
</div>